@charset "UTF-8";
/* main.scss */
/* 
h1, p
position: fixed
top: 
left: 50%

transform -50% -50%


google fonts 4 vastagság
p tag legvékonyabb
h1 tag legvastagabb
size 48px

színpár háttér/szöveg
nem lehet alapértelmezett css szín
 */
body {
  background-color: #5f4b8b;
  color: #e69a8d;
}

#root h1,
#root p {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Quicksand", sans-serif;
  font-size: 48px;
  cursor: pointer;
}
#root h1 {
  font-weight: 700;
}
#root p {
  font-weight: 300;
}
#root.clicked {
  /*
    css animation
    keyframes
    transform rotate
    transform origin
    translate-t is rá kell rakni keyframe-re
  */
}
#root.clicked h1,
#root.clicked p {
  animation-name: around;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
#root.clicked h1 {
  animation-direction: normal;
}
#root.clicked p {
  animation-direction: reverse;
}
@keyframes around {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}